body {
    font-family: Roboto Serif;
    font-size: 12px;
}

/* width */
::-webkit-scrollbar {
  /* width: 6px; */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

p, ul, li {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 12px;
    }
}

@media screen and (min-width: 1024px){
    body {
        font-size: 20px;
    }
}

@media screen and (min-width: 1600px){
    body {
        font-size: 28px;
    }
}
